.plv-watch-mobile {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  font-size: 12px;
}

.plv-watch-mobile__top {
  padding-top: 56.25%;
  height: 0;
  position: relative;
}

.plv-watch-mobile-player {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.plv-watch-mobile-chatroom {
  flex: 1;
  overflow: hidden;
}

/* 移动端聊天室SDK样式覆写 */
.plv-watch-mobile .plv-skin--dark .polyv-chat-room {
  background: #202127;
}
.plv-watch-mobile .plv-skin--dark .polyv-cr-head {
  background: #3e3e4e;
}
.plv-watch-mobile .plv-skin--dark .polyv-cr-navbar {
  color: #fff;
}
.plv-watch-mobile .plv-skin--dark .polyv-chat-room .polyv-cr-navbar>li.polyv-crn-active {
  color: #fff;
  border: 0
}
.plv-watch-mobile .plv-skin--dark li.polyv-crn-active>span {
  display: inline-block;
  line-height: 35px;
  border-bottom: 2px solid #fff;
}
.plv-watch-mobile .plv-skin--dark .polyv-chat-room>.polyv-cr-body {
  background: #202127;
}
.plv-watch-mobile .plv-skin--dark .polyv-chat-input {
  background: #202127;
}
.plv-watch-mobile .plv-skin--dark .mobile-wrap .polyv-chat-input input {
  color: #e4e4e4;
  background: #2b2c35;
  border: 0
}
.plv-watch-mobile .plv-skin--dark .mobile-wrap .polyv-mobile-send {
  color: #fff;
}
.plv-watch-mobile .plv-skin--dark .polyv-chat-room .polyv-emotion-wrap {
  background: #202127;
}
.plv-watch-mobile .plv-skin--dark .polyv-chat-room .polyv-emotion-wrap:after {
  border-color: #202127 transparent transparent;
}
.plv-watch-mobile .plv-skin--dark .polyv-chat-room .polyv-chat-list>.polyv-msg {
  color: #adadc0;
}
.plv-watch-mobile .plv-skin--dark .polyv-chat-room .polyv-msg-content {
  background: #2b2c35;
}
.plv-watch-mobile .plv-skin--dark .polyv-chat-room .polyv-chat-input .polyv-icon-emotion {
  background: url('../img/emotion.png');
  background-size: 20px 20px;
}
.plv-watch-mobile .plv-skin--dark .polyv-chat-room .polyv-chat-input .polyv-icon-flower {
  background: url('../img/flower.png');
  background-size: 20px 20px;
}
.plv-watch-mobile .plv-skin--dark .mobile-wrap .polyv-chat-input .polyv-icon-more {
  background: url('../img/more.png');
  background-size: 20px 20px;
}
.plv-watch-mobile .plv-skin--dark .mobile-wrap .polyv-show-more .polyv-icon-more {
  background: url('../img/show-more.png');
  background-size: 20px 20px;
}
.plv-watch-mobile .plv-skin--dark .polyv-chat-room>.polyv-cr-body .polyv-set-nickname.show {
  background: #3e3e4e
}
.plv-watch-mobile .plv-skin--dark .polyv-chat-room>.polyv-cr-body .polyv-set-nickname input {
  background: #212121;
  border: 0;
}
.plv-watch-mobile .plv-skin--dark .mobile-wrap .polyv-set-nickname>div>button {
  color: #fff;
}
.plv-watch-mobile .plv-skin--dark .mobile-wrap .polyv-chat-input-more {
  background: #3e3e4e;
}
.plv-watch-mobile .plv-skin--dark .mobile-wrap .polyv-more-control-list>li>span {
  color: #fff;
}

/* 移动端直播介绍 */
.tab-intro {
  overflow-y: auto;
}

.tab-intro .tab-intro-info {
  position: relative;
  padding: 16px;
  display: flex;
}
.tab-intro .tab-intro-info__logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.tab-intro-info__inner {
  position: relative;
  flex: 1;
}
.tab-intro-info__title {
  color: #fff;
  line-height: 20px;
  font-size: 16px;
}

.tab-intro .tab-intro-info__status::after {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2px;
  font-size: 12px;
  padding: 4px;
  border: 1px solid;
  line-height: 1;
}

.tab-intro .tab-intro-info__status--nolive::after {
  border-color: hsla(0,0%,100%,.6);
  color: hsla(0,0%,100%,.6);
  content: '暂无直播'
}

.tab-intro .tab-intro-info__status--playback::after {
  color: #78a7ed;
  border-color: #78a7ed;
  content: '回放中'
}

.tab-intro .tab-intro-info__status--live::after {
  color: #f06e6e;
  border-color: #f06e6e;
  content: '进行中'
}

.tab-intro .tab-intro-info__time {
  margin-top: 8px;
  color: #adadc0;
  line-height: 1;
  font-size: 12px;
}

.tab-intro .tab-intro-author {
  display: flex;
  padding: 10px 16px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 12px;
  color: #adadc0;
}

.tab-intro-author__publisher {
  flex: 1;
}

.tab-intro .tab-intro-author__publisher-ico {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  background: url(../img/person.png) no-repeat;
  background-size: 16px 16px;
  margin-right: 2px;
}

.tab-intro .tab-intro-author__like-ico {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: text-top;
  background: url(../img/like.png) no-repeat;
  background-size: 14px 14px;
  margin-right: 2px;
}

.tab-intro .tab-intro-desc {
  padding:  20px 16px;
  color: #adadc0;
  white-space: pre-wrap;
  font-size: 16px;
}